

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif,;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    background:  #efeee7;
  }
  
  header {
    background: #000000;
  }


h1{
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  color: #eee;
  text-align: center;

}

#cityContainer {
  list-style: none;
}

#todaysWeather {
  height: 60vh;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
}

#forecastList {
 list-style: none;
 display: flex;
 justify-content: space-around;
 font-size: 14px;

}

